table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    border: 1px solid black;
    padding: 5px 10px;
}
.btns_td {
    border: none;
}
table tbody tr:first-child td {
    font-weight: bold;
}

form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;
}
.inputs_block {
    display: flex;
    flex-direction: column;
}
.inputs_block input:not(:last-child) {
    margin-bottom: 10px;
}